<section class="dashboard-content">
    <div class="box-style-breadcrumb p-4">
        <div class="float-start" style="font-size: 16px; width:90%;padding: 5px;">Sub Category Management</div>
        <button color="warn" mat-raised-button routerLink="add-edit-subcategory">Add Sub Category</button>
    </div>


    <mat-form-field class="mt-3 ms-3">
        <mat-label>Filter</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Mia">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table [dataSource]="dataSource" mat-table matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> ID</th>
                <td *matCellDef="let row; let i=index" mat-cell>{{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="subcategoryName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Subategory Name</th>
                <td *matCellDef="let row" mat-cell> {{row.subcategoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="subcategoryStatus">
                <th *matHeaderCellDef mat-header-cell > Subategory Status</th>
                <td *matCellDef="let row" mat-cell>
                    <div *ngIf="this.row.subcategoryStatus == 1; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <mat-slide-toggle (change)="statusChange($event,row)" [checked]="true"></mat-slide-toggle>
                    </ng-template>
                    <ng-template #elseBlock>
                        <mat-slide-toggle (change)="statusChange($event,row)"></mat-slide-toggle>
                    </ng-template>
                </td>
            </ng-container>
            <ng-container matColumnDef="categoryId">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Category Name</th>
                <td *matCellDef="let row" mat-cell> {{row.categoryName}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell> Actions</th>
                <td *matCellDef="let row;">
                    <button mat-icon-button>
                        <mat-icon (click)="editSubcategory($event,row)" color="green"  >edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon (click)="onDeleteSubCategory($event,row)"  color="warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

            <!-- Row shown when there is no matching data. -->
            <tr *matNoDataRow class="mat-row">
                <td class="mat-cell" colspan="4">No Data Found "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</section>



