<section class="dashboard-content">
    <h3>Total Products</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="info-box box-style"
                 style="background-color: #999;background-image: url('assets/images/leave-icon-bg.png');">
                <div class="box-top">
                    <h3>Total Products</h3>
                </div>
                <div class="box-icon">
                    <img alt="icon" height="100px" src="assets/images/product.png" width="100px"/>
                </div>
            </div>
        </div>
    </div>
    <h3>Total Users</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="info-box box-style"
                 style="background-color: #999;background-image: url('assets/images/total-employees-icon-bg.png');">
                <div class="box-top">
                    <h3>Total Users</h3>
                </div>
                <div class="box-icon">
                    <img alt="icon" height="100px" src="assets/images/total-employees-icon.svg" width="100px"/>
                </div>
            </div>
        </div>
    </div>
    <h3>Categories</h3>
    <div class="row">
        <div class="col-sm-3">
            <div class="info-box box-style"
                 style="background-color: #999;background-image: url('assets/images/leave-new-icon-bg.png');">
                <div class="box-top">
                    <h3>Total Category</h3>
                </div>
                <div class="box-icon">
                    <img alt="icon" height="100px" src="assets/images/category.png" width="100px"/>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="info-box box-style"
                 style="background-color: #999;background-image: url('assets/images/approved-leave-icon-bg.png');">
                <div class="box-top">
                    <h3>Total Sub Category</h3>
                </div>
                <div class="box-icon">
                    <img alt="icon" height="100px" src="assets/images/subcategory.png" width="100px"/>
                </div>
            </div>
        </div>
    </div>
</section>
