<button (click)="backClicked();" class="back-btn"><span class="material-icons">keyboard_backspace</span>Back</button>
<form [formGroup]="resetPasswordForm" >
	<h1>Management System</h1>
	<div class="form-wrapper" >
		<div class="form-title">
			<h3>Reset Password</h3>
			<p> Hello, {{email}} <br>Enter your new password and confirm password to reset your password.</p>
		</div>
		<div class="form-field">
			<mat-form-field appearance="outline" class="element-full-width">
				<mat-label>Enter New Password:</mat-label>
				<input  formControlName="password" id="password"  matInput maxlength="50" name="password" type="text">
				<mat-icon matSuffix>password</mat-icon>
				<mat-error *ngIf="resetPasswordForm.get('password')!.hasError('required')">THIS FIELD IS REQUIRED.
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-field">
			<mat-form-field appearance="outline" class="element-full-width">
				<mat-label>Confirm New Password:</mat-label>
				<input formControlName="confirmpassword" id="confirm-password"  matInput maxlength="50" name="confirmpassword" type="text">
				<mat-icon matSuffix>password</mat-icon>
				<mat-error *ngIf="resetPasswordForm.get('confirmpassword')!.hasError('required')">THIS FIELD IS REQUIRED.
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-btn">
			<button class="full-btn" (click)="resetPassword()">Reset Password</button>
		</div>
	</div>
</form>

