<button (click)="backClicked();" class="back-btn"><span class="material-icons">keyboard_backspace</span>Back</button>
<form [formGroup]=registerForm>
    <h1>Management System</h1>
    <div class="form-wrapper">
        <div class="form-title">
            <h3>Create New Account</h3>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" class="element-full-width">
                <mat-label>Enter Full Name:</mat-label>
                <input autocomplete="off" formControlName="fullName" id="fullName" matInput name="fullName" required
                       type="text">
                <mat-icon matSuffix>text_format</mat-icon>
                <mat-error *ngIf="registerForm.get('fullName')!.hasError('minlength')">FULL NAME MUST BE GREATER THEN 3
                    CHARACTER !!
                </mat-error>
                <mat-error *ngIf="registerForm.get('fullName')!.hasError('maxlength')">FULL NAME MUST BE LESS THEN 40
                    CHARACTER !!
                </mat-error>
                <mat-error *ngIf="registerForm.get('fullName')!.hasError('required')">THIS FIELD IS REQUIRED.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" class="element-full-width">
                <mat-label>Enter Birthdate:</mat-label>
                <input  (click)="release_picker2.open()" (focus)="release_picker2.open()" [matDatepicker]="release_picker2" autocomplete="off" formControlName="birthDate" id="birthDate"
                       matInput name="birthDate" required  type="text" value="">
                <mat-datepicker-toggle [for]="release_picker2" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #release_picker2></mat-datepicker>
                <mat-error *ngIf="registerForm.get('birthDate')!.hasError('required')">THIS FIELD IS REQUIRED.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" class="element-full-width">
                <mat-label>Enter Mobile Number:</mat-label>
                <input autocomplete="mobile" formControlName="mobile" id="mobile" matInput
                       maxlength="15"
                       name="mobile" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" type="text">
                <mat-icon matSuffix>phone_iphone</mat-icon>
                <mat-error *ngIf="registerForm.get('mobile')!.hasError('minlength')">MOBILE NUMBER MUST BE 10
                    DIGITS !!
                </mat-error>
                <mat-error *ngIf="registerForm.get('mobile')!.hasError('maxlength')"> MUST BE LESS THEN 15
                    DIGITS !!
                </mat-error>
                <mat-error *ngIf="registerForm.get('mobile')!.hasError('required')">THIS FIELD IS REQUIRED.</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" class="element-full-width">
                <mat-label>Enter Email Address:</mat-label>
                <input formControlName="email" id="email" autocomplete="off" matInput maxlength="50" name="email" type="email">
                <mat-icon matSuffix>mail_outline</mat-icon>
                <mat-error *ngIf="registerForm.get('email')!.hasError('required')">THIS FIELD IS REQUIRED.</mat-error>
                <mat-error *ngIf="registerForm.get('email')!.hasError('pattern')">ENTER VALID EMAIL ADDRESS.</mat-error>
            </mat-form-field>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline" class="element-full-width">
                <mat-label>Enter Password:</mat-label>
                <input formControlName="password" matInput name="password" type="password" autocomplete="off">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="registerForm.get('password')!.hasError('required')">THIS FIELD IS REQUIRED.
                </mat-error>
            </mat-form-field>
        </div>
        <input formControlName="userId"  name="userId" type="hidden"  >
        <div class="form-btn">
	        <button (click)="onSubmit()" class="full-btn">Submit</button>
        </div>
    </div>
</form>

